.stockInsufisant td
{
	background: red;
	border: 1px solid red;
	color: white;
}
.stockInsufisant:hover td
{
	background: darkred;
	border: 1px solid darkred;
}
.tabComposantProduction
{
    width:70%;
}
.titreDesignation
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:auto;
}
.titreQte
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:20%;    
}
.designation
{
    text-align:left;
}
.titreCheckBox
{
	background: #00B7D6;
    width:30px;
}
.lienRetour
{
    text-decoration: underline;
}
.lienRetour:hover
{
    color: #00B7D6;
}
.titreTabComposantManquant
{
	color: #00B7D6;
}