.inputValiderCommande
{
    display: block;
    margin:10px auto;
    background: #00B8D6;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width:240px;
    text-align:center;
}
h1
{
color :#00B8D6;
text-decoration: underline;    
font-size: 25px;
}
h2
{
    font-size: 20px;
}