#menuVertical
{
	width:300px;
	border-right: 1px solid #00B8D6;
	border-bottom: 1px solid #00B8D6;
	float:left;
	padding: 20px;
	margin-bottom: 50px;
}

h1, h2
{
	text-align: center;	
}
table
{
	border-collapse: collapse;
	margin: 10px auto 20px auto;
    width:95%;
}
.tableDetailFournisseur
{
    width:60%;
}
tr td, tr th
{
	border: 1px solid #00B8D6;
	text-align: center;
	height: 30px;
}

tr th
{
	background: #00B8D6;
	color: white;
	letter-spacing: 1.5px;
	font-size: 18px;
	padding: 5px 10px;
}
tr:hover
{
	background: #00B8D6;
	color: white;
}


tr td
{
	border: 1px solid #00B8D6;
	text-align: center;
	height:30px;
}
.titreSupprimer, tr:hover .titreSupprimer
{
    border:0;
    background:white;
    width:31px;
}
.titreFamille
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:10%;
}

.titreReference
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:auto;    
}
.titreDesignation
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:auto;
}
.titreBoitier
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:10%;
}
.titreCheckBoxTab
{
 	background: #00B8D6;
     width:5%;
}
.titreStock
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:10%;
}
.titreDetails
{
	background: white;
	border-top: 0;
	border-right: 0;
    width:30px;
}
.titreQte
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:10%;    
}
.titreQteNecessaire
{
	font-weight:bold;
	background: #00B8D6;
	color: white;
	width:10%;      
}
.titreFournisseur
{
    width:20%; 
	font-weight:bold;
	background: #00B8D6;
	color: white;    
}
.supprimer
{
	background: #00B8D6;       
}
.designation
{
	text-align:left;
	padding-left: 5px;	
}
.details
{
	background: #00B8D6;
    width:30px;
}
.flecheDetails
{
	margin-top: 4px;
	width: 12px;
	height: 12px;
}
.details a
{
	color: white;
}
.inputQuantite
{
    text-align: center;
    width: 60%;
    margin: 0 10px;
}
.inputDesignation
{
    width:98%;
    margin:auto;
}
.inputListe
{
    margin: 0 5px;
    height:21px;
}
.checkBox
{
    width:5%;
}
.titrePrix
{
    width:15%;
    font-weight:bold;
	background: #00B8D6;
	color: white;    
}
.buttonUpdate
{
    margin:0 4px 0 0;
    display: inline-block;
    width:20px;
    height:20px;
    background:url('../Resources/public/img/whitevalid.png') top left no-repeat;
    text-indent:-9000px;
    text-transform: capitalize;
    line-height: -9999px;
    overflow:hidden;
    border:0;
    cursor:pointer;
}
.buttonAdd
{
    margin:5px 0 0 5px;
    display: inline-block;
    width:20px;
    height:20px;
    background:url('../Resources/public/img/whiteplus.png') top left no-repeat;
    text-indent:-9000px;
    text-transform: capitalize;
    line-height: -9999px;
    overflow:hidden;
    border:0;
    cursor:pointer;
}
.inputValider
{
    display: block;
    margin:10px auto;
    background: #00B8D6;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width:240px;
    text-align:center;
}
.inputQuantite
{
    text-align: center;
    width: 50px;
    margin: 0 10px;
}
#lienMenuVertical
{
	border-bottom: 3px solid #00B8D6;
	width:100%;
	padding-bottom: 20px;
	margin-bottom:20px;
}
#recherche
{
	border-top: 3px solid #00B8D6;
}
.titreMenuVertical
{
	color: #00B8D6;
	font-size: 25px;
	margin:5px 5px 5px 5px;
}
a
{
	color:black;
	text-decoration: none;
}
.sousMenu
{
	cursor: pointer;
	margin:5px 15px;
	font-size:20px;
		
}
.lienImp
{
	cursor:pointer;
	font-size:20px;
}
.decalageNoPlus
{
	padding-left:17px;
}
.decalageNoPlus1
{
	padding-left:16px;
}
.imgFlecheliste
{
	width:14px;
	height:14px;
	margin-right:2px
}
.divSousMenu
{
	display: none;
	margin-left:50px;
}
.divSousMenu a:hover
{
	font-weight: bold;
}
.labelRecherche
{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 20px 0 5px 0;
	font-size: 20px;
}
.inputRecherche
{
	width: 90%;
	margin: 0 12px 10px 12px;
}
.ChoixRecherche
{
margin-left:35px;	
}
.submitRecherche
{
	display: block;
	margin:10px auto 0px auto;
}
.titreCheckBox
{
	display: inline-block;
	cursor: pointer;
}
.titreCheckBox:hover
{
	font-weight: bold;
}
.imgFlecheCheckBox{
	width:12px;
	height:12px;
	cursor: pointer;
	margin-left:10px;
}
.checkBox
{
	margin-left: 30px;
}
.divCheckBox
{
	display: none;
}
.submitTrie
{
	display: block;
	margin:10px auto 0px auto;
}