.titreType
{
    width:15%;
    font-weight:bold;
	background: #7b7c7e;
	color: white; 
}
.titreFrequence
{
    width:10%;
    font-weight:bold;
	background: #7b7c7e;
	color: white; 
}
.titreReference
{
    width:15%;
}
.titreEtiquette
{
    width:2%;
    font-weight:bold;
	background: #7b7c7e;
	color: white;     
}
.titreReferenceLecteur
{
    font-weight:bold;
	background: #7b7c7e;
	color: white; 
    width: 7%;
}
.titreReferenceAutre
{
    font-weight:bold;
	background: #7b7c7e;
	color: white; 
    width: 15%;    
}