.inputQuantite
{
    text-align: center;
    width: 50px;
    margin: 0 10px;
}
.inputValiderCommande
{
    display: block;
    margin:10px auto;
    background: #00B7D6;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}