.lecteur
{
    width: 60%;
    margin:0 0 20px 10%;
    border: 1px solid #00B8D6;
    padding: 10px;
}
.compteur
{
    display:inline-block;
    float: right;
}
#focus
{
    background: #00B8D6;
    color:white;
    font-weight: bold;
}