.lecteur
{
    width: 70%;
    margin:0 15% 20px 15%;
    border: 1px solid #7b7c7e;
    padding: 10px;
    cursor: pointer;
}
.lecteurTermine
{
    width: 70%;
    margin:0 15% 20px 15%;
    border: 1px solid green;
    background: green;
    color: white;
    padding: 10px;
    cursor: default;
}
.compteur
{
    display:inline-block;
    float: right;
}
#focus
{
    background: #7b7c7e;
    color:white;
    cursor: default;
}
.titreListe
{
    text-align: center;
    margin: 27px 0 0 0;
}
#inputEnregistrement
{
    outline: 0;
    margin: 10px 35% 23px 35%;
    width: 30%;
}
#listeLecteur
{
    width:50%;
}
.lienValiderCommande1
{
    display: block;
    margin:10px auto;
    background: #7b7c7e;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width:280px;
    text-align:center;
}