#menuVertical
{
	width:300px;
	border-right: 1px solid #00B7D6;
	border-bottom: 1px solid #00B7D6;
	float:left;
	padding: 20px;
	margin-bottom: 50px;
}

h1, h2
{
	text-align: center;	
}
table
{
	border-collapse: collapse;
	margin: 10px auto 20px auto;
    width:90%;
}
tr td, tr th
{
	border: 1px solid #00B7D6;
	text-align: center;
	height: 30px;
}

tr th
{
	background: #00B7D6;
	color: white;
	letter-spacing: 1.5px;
	font-size: 18px;
	padding: 5px 10px;
}
tr:hover
{
	background: #00B7D6;
	color: white;
}
tr td
{
	border: 1px solid #00B7D6;
	text-align: center;
	height:30px;
}
.titreFamille
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;
}
.titreSousFamille
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;
}
.titreReference
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:20%;    
}
.titreDesignation
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:auto;
}
.titreBoitier
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;
}
.titreCheckBoxTab
{
 	background: #00B7D6;
     width:5%;
}
.titreStock
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;
}
.titreDetails
{
	background: white;
	border-top: 0;
	border-right: 0;
	width:2%;
}
.titreQte
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;    
}
.titreQteNecessaire
{
	font-weight:bold;
	background: #00B7D6;
	color: white;
	width:10%;      
}
.designation
{
	text-align:left;
	padding-left: 5px;	
}
.details
{
	background: #00B7D6;
}
.flecheDetails
{
	margin-top: 4px;
	width: 12px;
	height: 12px;
}
.details a
{
	color: white;
}
.inputQuantite
{
    text-align: center;
    width: 50px;
    margin: 0 10px;
}
.checkBox
{
    width:5%;
}
.lienValiderCommande
{
    display: block;
    margin:10px auto;
    background: #00B7D6;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width:240px;
    text-align:center;
}