#lienMenuVertical
{
	width:100%;
	margin-bottom:20px;
}
.titreMenuVertical
{
	color: #00B7D6;
	font-size: 25px;
	margin:5px 5px 5px 5px;
}
.decalageNoPlus
{
	padding-left:17px;
}
.imgFlecheliste
{
	width:14px;
	height:14px;
	margin-right:2px
}
.divSousMenu
{
	display: none;
	margin-left:50px;
}
.divSousMenu a:hover
{
	font-weight: bold;
}
a
{
	color:black;
	text-decoration: none;
}
.sousMenu
{
	cursor: pointer;
	margin:5px 15px;
	font-size:20px;
		
}